body {
    background-image: url(https://www.bing.com/th?id=OIP.Nx8wLwfeUuF8YTrYkYS4TgHaE8&w=284&h=189&c=7&o=5&dpr=1.25&pid=1.7);
    color: orange;
    background-size: 100%;
  }
  
  #xenaWithChakram {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  